<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Carbonator | Calculator</title>
        <link rel="icon" href="images/Icon.png" type="image">
        <link href="https://fonts.googleapis.com/css2?family=Hepta+Slab&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css" type="text/css">
    </head>

    <body>
        <div class="top-section">
            <div class="navbar">
                <a href="landing.html" class="navbar-item">HOME ⌂</a>
                <a href="calculator.html" class="navbar-item">CALCULATOR 🖩</a>
                <a href="logger.html" class="navbar-item">LOGGER ✎</a>
                <a href="stats.html" class="navbar-item">STATS α</a>
                <a href="tasks.html" class="navbar-item">TASKS ☞</a>
                <a href="sources.html" class="navbar-item">SOURCES 🕮</a>
                <a href="#" class="navbar-item" >FUTURE 🕮</a>

                {% if not logged_in %}
                    <a href="login.html" class="navbar-item" style="float:right; color:black;">LOG IN</a>
                    <a href="signup.html" class="navbar-item" style="float:right; color:black;">SIGN UP</a>
                {% endif %}

                {% if logged_in %}
                    <a href="logged_out.html" class="navbar-item" style="float:right; color: black;">LOG OUT</a>
                {% endif %}
            </div>
        </div>

        
        <div class="bgimg-7 opacity">
            <div class="display-middle">
                <span class="central-text">L O G G E R</span> 
            </div>

            <div class="static-text" style="top: 100vh;">
                <h2 class="center">CARBON FOOTPRINT CALCULATOR</h2>
                <hr>
                <p class="center small">Calculate your emissions today</p>
                <br>
                <p>&emsp;Use our logger log your emissions over time. This data will be saved and used to
                    generate statistics. If you would not like the data to be saved, use the calculator.
                    Note that all inputs that ask about money are based in US dollars.
                </p>

                <br>

                <form action="/logger" method="post" name="carbon_logger" style="align-items: center; justify-content: center;">
                    <details class="calc-section">
                        <summary class="calc-title">P E R S O N A L . I N F O R M A T I O N</summary>
                        <div class="responses">
                            <input type="number" name="people" id="people" class="calc-question" placeholder="Number of people who live in your household" required>
                            <input type="number" name="income" id="income" class="calc-question" placeholder="Annual pre-tax pre-deduction household income" required>
                            <input type="date" name="date" id="date" class="calc-question">
                            <input type="number" name="time" id="time" class="calc-question" placeholder="Data collection period (in days)" required step="0.01">
                            <p class="fun-fact" style="height: 50px;">ⓘ This data is used to compare your emissions to households like yours.</p>
                        </div>
                    </details>
                    
                    <details class="calc-section">
                        <summary class="calc-title">G O O D S</summary>
                        <div class="responses">
                            <input type="number" name="clothing" id="clothing" class="calc-question" placeholder="Amount spent on clothing" required step="0.01">
                            <input type="number" name="electronics" id="electronics" class="calc-question" placeholder="Amount spent on electronics" required step="0.01">
                            <input type="number" name="furniture" id="furniture" class="calc-question" placeholder="Amount spent on furniture" required step="0.01">
                            <input type="number" name="other" id="other" class="calc-question" placeholder="Amount spent on other goods" required step="0.01">
                            <p class="fun-fact" style="height: 50px;">ⓘ $1000 worth of electronics produces roughly 2.8 tons of carbon dioxide equivalent.</p>
                        </div>
                    </details>

                    <details class="calc-section">
                        <summary class="calc-title">F O O D</summary>
                        <div class="responses">
                            <input type="number" name="beef" id="beef" class="calc-question" placeholder="Kilograms of beef" required step="0.01">
                            <input type="number" name="meat" id="meat" class="calc-question" placeholder="Kilograms of meat" required step="0.01">
                            <input type="number" name="other" id="other" class="calc-question" placeholder="Kilograms of other food" required step="0.01">
                            <p class="fun-fact" style="height: 50px;">ⓘ Around 60kg of emissions are produced for each kilogram of beef consumed.</p>
                        </div>
                    </details>

                    <details class="calc-section">
                        <summary class="calc-title">W A T E R</summary>
                        <div class="responses">
                            <input type="number" name="water_bill" id="water_bill" class="calc-question" placeholder="Amount spent on water" required step="0.01">
                            <input type="number" name="cpg" id="cpg" class="calc-question" placeholder="Cost per gallon of water" required step="0.00001">
                            <p class="fun-fact" style="height: 50px;">ⓘ A cubic meter of water produced around 23 pounds of CO2 equivalent.</p>
                        </div>
                    </details>

                    <details class="calc-section">
                        <summary class="calc-title">H O M E . E N E R G Y . U S E</summary>
                        <div class="responses">
                            <input type="number" name="electricity_bill" id="electricity_bill" class="calc-question" placeholder="Amount spent on electricity" required step="0.01">
                            <input type="number" name="cpkwh" id="cpkwh" class="calc-question" placeholder="Cost per KwH of energy" required step="0.0001">
                            <input type="number" name="clean_percent" id="clean_percent" min="0" max="100" class="calc-question" placeholder="Percent of electricity from clean energy" required>
                            <p class="fun-fact" style="height: 170px;">ⓘ Note that the electricity estimate has a wide margin of error as the footprint of your energy is based largely on your country of
                                origin, source of electricity, and energy efficiency of your applications. A rough estimate of 0.955 lbs per kWh from the EIA is used in our calculations.</p>
                        </div>
                    </details>
                    
                    <details class="calc-section">
                        <summary class="calc-title">T R A N S P O R T</summary>
                        <div class="responses">
                            <input type="number" name="Dmiles" id="Dmiles" class="calc-question" placeholder="Miles driven on a diesel vehicle" required>
                            <input type="number" name="Dmpg" id="Dmpg" class="calc-question" placeholder="MPG of diesel vehicle" required step="0.01">
                            <input type="number" name="Gmiles" id="Gmiles" class="calc-question" placeholder="Miles driven on a gasoline vehicle" required>
                            <input type="number" name="Gmpg" id="Gmpg" class="calc-question" placeholder="MPG of gasoline vehicle" required step="0.01">
                            <input type="number" name="flight_hours" id="flight_hours" class="calc-question" placeholder="Hours of passenger flight" required step="0.01">
                            <input type="number" name="transit" id="transit" class="calc-question" placeholder="Miles of public transit" required>
                            <p class="fun-fact">ⓘ Public transit reduces CO2 emissions by 45%.</p>
                        </div>
                    </details>
                    
                    <div class="calc-section">
                        <input type="submit" class="bwsubmit hover-lighten" value="S U B M I T">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>