<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css2?family=Hepta+Slab&display=swap" rel="stylesheet">
        <link rel="icon" href="images/Icon.png" type="image">
        <link rel="stylesheet" href="/static/style.css" type="text/css">

        <title>Carbonator | Signup</title>
    </head>

    <body class="login-body" style="color: #FFF;">
        <div class="top-section">
            <div class="navbar">
                <a href="landing.html" class="navbar-item" ">HOME ⌂</a>
                <a href="calculator.html" class="navbar-item" ">CALCULATOR 🖩</a>
                <a href="logger.html" class="navbar-item" ">LOGGER ✎</a>
                <a href="stats.html" class="navbar-item" ">STATS α</a>
                <a href="tasks.html" class="navbar-item" s>TASKS ☞</a>
                <a href="sources.html" class="navbar-item" ">SOURCES 🕮</a>
                <a href="#" class="navbar-item" >FUTURE 🕮</a>

                {% if not logged_in %}
                    <a href="login.html" class="navbar-item" style="float:right; ">LOG IN</a>
                    <a href="signup.html" class="navbar-item" style="float:right; ">SIGN UP</a>
                {% endif %}

                {% if logged_in %}
                    <a href="logged_out.html" class="navbar-item" style="float:right;">LOG OUT</a>
                {% endif %}
            </div>
        </div>
        
        <!--Yes, this is the same code from the login, its like the same page-->
        <div class="login-flexbox"> 
            <div class="login-box-2">
                <div class="login-header">
                    <header class="login-title">Signup</header>
                </div>

                <form action="/signup" method="post" name="signup-info">
                    <div class="login-field">
                        <input type="text" class="login-input" placeholder="Email" name="email" id="email" required>
                    </div>
                    <div class="login-field">
                        <input type="text" class="login-input" placeholder="Password" name="pass" id="pass" required>
                    </div>
                    <div class="login-field">
                        <input type="text" class="login-input" placeholder="Confirm Password" name="confirm-pass" id="confirm-pass" required>
                        <span id="pass-match-error" style="display: none; color: red;">Passwords do not match</span>
                    </div>
                    <div class="login-field">
                        <input type="submit" class="bwsubmit" value="signup">
                    </div>

                    <div class="bottom">
                        <div class="flex-center">
                            <span class="no-account"><a href="login.html">Have an account?</a></span>
                        </div>
                    </div>
                </form>
                
                {% if show_error %}
                    <div class="error">⚠ {{ error_message }}</div>
                {% endif %}

                <script>
                    // self explanatory based on title
                    function validatePassword() {
                        var pass = document.getElementById("pass").value;
                        var confirmPass = document.getElementById("confirm-pass").value;
                        var passMatchError = document.getElementById("pass-match-error");

                        if (pass != confirmPass) {
                            passMatchError.style.display = "block";
                            return false;
                        } else {
                            passMatchError.style.display = "none";
                            return true;
                        }
                    }
                </script>
            </div>
        </div>
    </body>
</html>