<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Carbonator | Calculator</title>
        <link rel="icon" href="images/Icon.png" type="image">
        <link href="https://fonts.googleapis.com/css2?family=Hepta+Slab&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css" type="text/css">
    </head>

    <body>
        <div class="top-section">
            <div class="navbar">
                <a href="landing.html" class="navbar-item">HOME ⌂</a>
                <a href="calculator.html" class="navbar-item">CALCULATOR 🖩</a>
                <a href="logger.html" class="navbar-item">LOGGER ✎</a>
                <a href="stats.html" class="navbar-item">STATS α</a>
                <a href="tasks.html" class="navbar-item">TASKS ☞</a>
                <a href="sources.html" class="navbar-item">SOURCES 🕮</a>
                <a href="#" class="navbar-item" >FUTURE 🕮</a>

                {% if not logged_in %}
                    <a href="login.html" class="navbar-item" style="float:right;">LOG IN</a>
                    <a href="signup.html" class="navbar-item" style="float:right;">SIGN UP</a>
                {% endif %}

                {% if logged_in %}
                    <a href="logged_out.html" class="navbar-item" style="float:right;">LOG OUT</a>
                {% endif %}
            </div>
        </div>

        
        <div class="bgimg-9 opacity">
            <div class="display-middle">
                <span class="central-text">T A S K S</span> 
            </div>

            <div class="static-text" style="top: 100vh;">
                <h2 class="center">TASKS</h2>
                <hr>
                <p class="center small">To Help You Reduce Your Footprint</p>
                <br>
                <p>&emsp;Complete our tasks every day to reduce your footprint; with just these small steps, you will see a reduction in your footprint. Tasks are regenerated daily. </p>
                <hr>
                <ul>
                    <li>
                        <input type="checkbox" id="task1" name="task1" value="task1">
                        <label for="task1" class="task-label">{{t1}}</label>
                    </li>
                    <li>
                        <input type="checkbox" id="task2" name="task2" value="task2">
                        <label for="task2" class="task-label">{{t2}}</label>
                    </li>
                    <li>
                        <input type="checkbox" id="task3" name="task3" value="task3">
                        <label for="task3" class="task-label">{{t3}} </label>
                    </li>
                    <li>
                        <input type="checkbox" id="task4" name="task4" value="task4">
                        <label for="task4" class="task-label">{{t4}} </label>
                    </li>
                    <li>
                        <input type="checkbox" id="task5" name="task5" value="task5">
                        <label for="task5" class="task-label">{{t5}} </label>
                    </li>
                    <li>
                        <input type="checkbox" id="task6" name="task6" value="task6">
                        <label for="task6" class="task-label">{{t6}} </label>
                    </li>
                    <li>
                        <input type="checkbox" id="task7" name="task7" value="task7">
                        <label for="task7" class="task-label">{{t7}} </label>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    </body>
</html>